<div class="row" id="search" style="border-bottom: double 5px black;">
<div class="col-md-12" style=""><div class="row" style="padding-left: 10px; padding-top: 5px;"><div class="col-md-12">
<h3>SLA Search</h3>
</div></div>
<div class="row" style="text-align: left; padding: 5px 5px 5px 5px;"><div class="form-inline" style="font-size: 16px; width: 100%;">
<div class="col-md-4" style="padding-left: 5px; padding-right: 5px;">
<p style="margin-bottom: 10px; margin-top: 10px;">Search By: &nbsp <select id="searchBy"><option value="all">Select...</option>
<option value="studentNumber">Student Number</option>
<option value="firstName">First Name</option>
<option value="lastName">Last Name</option>
</select></p></div>
<div class="col-md-5" style="padding: 5px 5px 5px 5px;"><p style="margin-bottom: 10px; margin-top: 10px;">Search Term:  &nbsp 
<input type="text" id="searchCriteria" placeholder="criteria"style="width:50%;"></p></div>
<div class="col-md-3" style=""><button onclick="searchSLA(\'list\')" class="btn btn-info submit" style="width: 80px;">Search</button>&nbsp&nbsp&nbsp<button onclick="clearSearch()" class="btn btn-info submit" style="width: 80px;">Clear</button></div></div>
</div></div></div>
<div class="row" id="searchResponse" style="height: 77%;">
<div class="col-md-3" id="filter" style="padding: 5px 5px 5px 5px; border-right: solid 1px black;"><div class="row" style="margin: 2px 2px 2px 2px;">
<h3>Filter</h3>
</div>
<div class="row" style="margin: 2px 2px 2px 2px;">Filter options</div>
<input type="checkbox"><img src="public/images/module_artDesign.png" alt="Submit"><br><input type="checkbox"><img src="public/images/module_business.png" alt="Submit"><br><input type="checkbox"><img src="public/images/module_healthEducation.png" alt="Submit"><br><input type="checkbox"><img src="public/images/module_law.png" alt="Submit"><br><input type="checkbox"><img src="public/images/module_mediaPerformingArts.png" alt="Submit"><br><input type="checkbox"><img src="public/images/module_scienceTechnology.png" alt="Submit"><br>
</div>
<div class="col-md-9" id="searchResults" style="height: 100%; overflow: scroll;"><div class="row" style="margin: 2px 2px 2px 2px;">
<div class="col-md-10"><h3>Search Results<span id="searchResultCount"></span></h3></div><div class="col-md-2" style="padding-top: 3px;">
<div class="row">
<button onclick="searchSLA('grid')" style="border: solid 1px silver; background-color: #00000000; width: 30px; height: 30px;"><img src="images/icon_grid.png"  style="width: 100%; height: 100%;">
</button>
<button onclick="searchSLA('list')" style="border: solid 1px silver; background-color: #00000000; width: 30px; height: 30px;"><img src="images/icon_list.png" style="width: 100%; height: 100%;">
</button>
<button onclick="downloadSearch();" style="border: solid 1px silver; background-color: #00000000; width: 30px; height: 30px;"><img src="images/icon_export.png" style="width: 100%; height: 100%;">
</button></div></div></div>
<div class="row" style="margin: 2px 2px 2px 2px;">
<div class="col-md-12" id="displayResults"></div></div></div></div></div></div></div>
	
