/* CSS Document */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    }
body {
    font: 13px Serif;
    }
/*   HEADER   */

#logout {
    background-color:black;
    border:none;
    display:inline-block;
    position:relative;
    top:-55px;
    }
#headerBar {
    text-align: right;
    }
#userBar {
    text-align: left;
    width: 100%;
    height: 50px;
    position: relative;
    top: 0px;
    display: inline-block;
    border-bottom: 10px solid #000;
    }
#userBar img {
    width: 50px;
    height: 50px;
    display: inline-block;
    position: relative;
    top: 2px;
	}
#inputFields {
    width: 400px;
    padding: 5px 20px 5px 5px;
    font-family: Courier Std;
    font-size: 15px; 
    }
#userBar p {
    color:white;
    display:inline-block;
    font-family: Waltograph;
    font-size: 32px;
    padding: 0px 50px 10px 20px;
    position: relative;
    //top: -10px;
    width: 300px;
    }
.dropbtn {
    background-color: red;
    font-family: "Times New Roman";
    color: white;
    padding: 8px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    position: relative;
    width: 200px;
    }
.dropdown {
    position: relative;
    display: inline-block;
    }
.dropdown-content {
    display: none;
    position: absolute;
    top: 40px;
    background-color: #e0e0e0;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    }
.dropdown-content a {
    font-size: 14px;
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    }
.dropdown-content button {
    width: 200px;
    font-size: 14px;
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    }
.dropdown-content button:hover {
    background-color: red;
    color: white;
    cursor: pointer;
    font-size: 20px;
    } 
.dropdown-content a:hover {
    background-color: red;
    color: white;
    font-size: 20px;
    }
.dropdown:hover .dropdown-content {
    display: block;
    }
.dropdown:hover .dropbtn {
    background-color: black;
    }
#navigation {
    text-align: left;
    font-size: 18px;
    padding: 0px 0px 20px 0px;
    }
    
.deleteHover {
	color: #0000dd;
	text-decoration: underline;
	font-weight: bold;
}
/*   ----- Logo/ Header -----   */    
    
/*#logoBar {
    height: 120px;
    border-bottom: 10px solid #000;
    }*/
.column {
  float: left;
  width: 20%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
#logo {
    height: 100px;
    padding-top: 5px;
    padding-left: 10px;
    }
    
#mdxlogo {
    height: 80px;
    padding-left: 10px;
    }

/*   ----- Speech bubbles -----   */
.speechbox {
  width: 600px;
  margin: 10px;
  border: solid 3px #00bfb6;
  border-radius: 8px;
  padding: 10px;
  text-align: left;
  position:relative;
}

.speechtriangle:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid #00bfb6;
  border-top: 10px solid #00bfb6;
  border-bottom: 10px solid transparent;
  left: -20px;
  top: 6px;
}


/*   ----- Form -----   */

#contents {
    /*height: 800px;*/
    padding: 0px 10px 10px 10px;
    }

#logoDiv {
    display: inline-block;
    padding: 10px 10px 10px 10px;
    height: 800px;
    width: 660px;
    }

#formDiv {
    position: relative;
    top: -140px;
    left: 60px;
    display: inline-block;
    text-align: center;
    padding: 10px;
    width: 600px;
    border-style: dashed;
    border-color: #f367ff88;
    }
	
	
	

.q .inline_grid td {
padding: 5px;
vertical-align: baseline;
}

.q .drop_down {
background: #FFFFFF url(/images/forms/field_bg.png) top left;
border: 1px solid #CCCCCC;
color: #000099;
margin: 1px 0;
padding: 1px;
}

.q .matrix th {
color: #000000;
background: #EEEEEE;
padding: 5px;
font-weight: normal;
text-align: center;
vertical-align: bottom;
}

.q .matrix td {
padding: 5px;
text-align: center;
white-space: nowrap;
height: 26px;
border-bottom: 1px solid #CCCCCC;
border-top: 1px solid #CCCCCC;
}

.q .matrix td.question {
border-right: 1px solid #CCCCCC;
font-weight: normal;
}

.q .matrix .multi_scale_sub th {
font-weight: normal;
border-top: 1px solid #CCCCCC !important;
background: #FFFFFF;
}

.q .matrix .multi_scale_break {
border-right: 1px solid #CCCCCC;
}

.q .matrix_row_dark td {
color: #000000;
background: #F7F7F7;
}

.q .matrix_row_dark td.question {
color: #000000;
background: #EEEEEE;
}

.q .matrix_row_light td {
color: #000000;
background: #FFFFFF;
}

.q .matrix_row_light td.question {
color: #000000;
background: #F7F7F7;
}

.q .rating_ranking td {
padding: 5px;
}
tr.highlight td {
background: #FFF7BE !important;
}

.none {
    display: none;
}

#moreStudents {
    display: none;
}





table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
    
/*   ----- Form -----   */

#loginForm {
    text-align: center;
    padding: 10px;
    height: 280px;
    border-style: dashed;
    border-color: #f367ff88;
    }
#loginForm h1 {
    font-weight: bold;
    font-size: 60px;
    }
#regForm {
    text-align: center;
    padding: 10px;
    height: 480px;
    border-style: dashed;
    border-color: #f367ff88;
    }
#regForm h1 {
    font-weight: bold;
    font-size: 60px;
    }

h1 {
    font-weight: normal;
    font-size: 40px;
    }
#reg {
    padding: 10px;
    }

/*   ----- Table with form -----   */
#arrangeElements {
    //position: relative;
    width: 100%;
    }
#data {
    font-family: Lucida Calligraphy;
    padding: 20px 10px 10px 20px;
    width: 150px;
    }
.inputFields {
    width: 200px;
    padding: 5px 10px 5px 5px;
    font-family: Courier Std;
    font-size: 15px;
    }
.inputCheckBoxFields {
    padding: 5px 10px 5px 5px;
    font-family: Courier Std;
    font-size: 15px;
    text-align: left;
    }
.inputFileFields {
    width: 300px;
    padding: 5px 10px 5px 5px;
    font-family: Courier Std;
    font-size: 15px;
    }
    
/*   ----- Buttons -----   */
.submit {
    height: 40px;
    width: 70px;
    font-size: 20px;
    position: relative;
    }
.clear {
    height: 40px;
    width: 70px;
    font-size: 20px;
    position: relative;
    }

/*   ----- User detials on sidebar -----   */

#sidebar {
    width: 310px;
    height: 1070px;
    position: absolute;
    display: inline-block;
    padding: 30px 5px 5px 5px;
    }
#userDetails {
    width: 310px;
    height: 535px;
    float: left;
    padding: 30px 5px 15px 5px;
    background: url(images/userBack.jpg);
    }
#userAvatar {
    width: 200px;
    position: relative;
    padding: 5px 0px 20px 0px;
    }
#sidebar h1 {
    text-align: center;
    color: white;
    padding: 10px;
    }
#sidebar p {
    font-family: Roughtypewriter;
    font-size: 25px;
    text-align: center;
    padding: 0px 0px 10px 0px;
    color: white;
    }
#quote {
    width: 310px;
    height: 535px;
    float: left;
    padding: 30px 5px 5px 5px;
    background: url(images/userBack.jpg);
    }
#quote h1 {
    padding: 20px;
    text-align: center;
    }
#quote p {
    font-size: 50px;
    padding: 0px 16px 0px 16px;
    }
#quote #quoteText {
    font-family: Roughtypewriter;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    }

/*   ----- Search Results -----   */
.blankRow td {
    width: 800px;
    height: 1px;
    background-color: black;
    }    
    
#fullProfile {
    width: 1000px;
    height: 800px;
    padding: 10px 10px 10px 10px;
    background-color: #ffbb0044;
    border: 3px dashed black; 
}

.profileFullImg {
    height: 100px;
    display: inline-block;
    float: center;
}   

#profileNav {
    width: 970px;
    height: 25px;
    background-color: #ff9999;
    padding: 3px;
} 
    
.profileNavButton {
    size: 20px;
    padding: 1px 5px;
}    
    
    
    
    
/*   ----- Footer -----      
    
#footer {
    clear: both;
    text-align: center;
    font-size: 12px;
    }*/